{
  "parser": "babel-eslint",
  "parserOptions": {
    "sourceType": "module",
    "allowImportExportEverywhere": false,
    "codeFrame": false,
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": 2018
  },
  "extends": ["prettier", "plugin:react/recommended"],
  "env": {
    "browser": true,
    "es6": true
  },
  "plugins": ["react-hooks"],
  "rules": {
    "max-len": ["error", { "code": 100 }],
    "prefer-promise-reject-errors": ["off"],
    "react/jsx-filename-extension": ["off"],
    "react/prop-types": ["warn"],
    "react/display-name": "off",
    "no-return-assign": ["off"],
    "quotes": ["error", "single"],
    "semi": ["error", "never"],
    "react-hooks/rules-of-hooks": "error",
    "react-hooks/exhaustive-deps": "warn"
  }
}
